//SETUP
@import 'setup/typography';
@import 'setup/variables';
@import 'setup/mixins';
@import 'setup/functions';

// BASICS
@import 'basics/helpers';
@import 'basics/base';
@import 'basics/layout';

// COMPONENTS
@import 'cmps/app-header';
@import 'cmps/app-footer';
@import 'cmps/user';
@import 'cmps/pet-details';


// pet card
ul{
    list-style: none;
    padding: 0;
    li{
        display: block;
        
    }
}

.pet-preview-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.pet-card{
    height: 270px;
    width: 200px;
    border: solid $clr2 2px;
    text-align: center;
    border-radius: 7px;
    &:hover{
        cursor: pointer;
    }
    img{
        margin-bottom: 10px;
    }
    button{
        border: none;
        background: none;
        color: $clr2;
        font-weight: 600;
        font-size: 1.1em;
        &:hover{
            background-color: $clr4;
            cursor: pointer;
            color: $clr1;
        }
        
    }
}



// user-details

.user-details{
    img{
        width: 150px;
    }
}

@font-face {
    font-family: awesome ;
    src: url(~@/styles/font-awesome/fa-brands-400.ttf);
    src: url(~@/styles/font-awesome/fa-regular-400.ttf);
    src: url(~@/styles/font-awesome/fa-solid-900.ttf);
}

.pet-details-grid{
    font-family:awesome
}

.pet-details-grid span::before{
//  content:"\f39e"
//  content:"\f1ae"
 content:"\f1b0";
 color:lightcoral;
}