//SETUP
@import 'setup/typography';
@import 'setup/variables';
@import 'setup/mixins';
@import 'setup/functions';

// BASICS
@import 'basics/helpers';
@import 'basics/base';
@import 'basics/layout';

// COMPONENTS
@import 'cmps/app-header';
@import 'cmps/user';
@import 'cmps/pet-details';
@import 'cmps/pet-preview';



// pet card
ul{
    list-style: none;
    padding: 0;
    li{
        display: block;
        
    }
}





// user-details

.user-details{
    img{
        width: 150px;
    }
}