@font-face {
    font-family: Montserrat;
    src: url(~@/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Opensans;
    src: url(~@/assets/fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: GreatVibes;
    src: url(~@/assets/fonts/GreatVibes/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: awesome ;
    src: url(~@/styles/font-awesome/fa-brands-400.ttf);
    src: url(~@/styles/font-awesome/fa-regular-400.ttf);
    src: url(~@/styles/font-awesome/fa-solid-900.ttf);
  }
  