// header
.header-container{
    display: flex;
    justify-content: space-between;
    height: 7vh;
    background-color: $clr3;
    align-items: center;   
    color: $clr1;  
    font-family: title;  
    
    .logo{
        margin-right: 20px;
        font-family: awesome ;  
        position: fixed;      
        &::before{
            content: "\f1b0";            
        }        
    }

    .logo-text{
        font-family:Pacifico;
        margin-left:25px
    }

    nav {
        height: 100%;         
               
    }
    a {
        display: inline-block;
        height: 100%;
        
        text-align: center;
        line-height: 7vh;
        
        font-size: 1.5rem;       
        margin-left: 10px;

        // &:hover{               
        //     // box-shadow: inset 0px -5px 0px 0px $clr2;
        //     // background-color: $clr4;
        // }
    }
    button{       
        font-size: 1.5rem;
        margin-right: 10px;  
        margin-left: 10px;     
        font-family: title
    }
    .router-link-exact-active{
        // color: $clr4;
        font-weight: bolder;
    }    
}

.header-nav{
    font-family: title;
}

.user-name-avatar::after{
    font-family: awesome;
    content:'\f2bd'
}