// header
.app-header{
    background-color: $clr3;
}

.header-container{
    display: flex;
    justify-content: space-between;
    height: 7vh;   
    align-items: center;   
    color: $clr1;  
    font-family: title;      
    
    .logo{
       font-size: 25px;
        margin-right: 20px;
        font-family: awesome ;  
        position: absolute;      
        &::before{
            content: "\f1b0";            
        }        
    }

    .logo-text{
        font-family:Pacifico;
        margin-left:25px
    }

    nav {
        height: 100%;
                         
    }
    a {
        display: inline-block;
        height: 100%;
        
        text-align: center;
        line-height: 7vh;
        
        font-size: 20px;       
        // margin-left: 10px;

        // &:hover{               
        //     // box-shadow: inset 0px -5px 0px 0px $clr2;
        //     // background-color: $clr4;
        // }
    }
    button{       
        font-size: 20px;
        // margin-right: 5px;   
        font-family: title;
        padding: 0;
    }
    .router-link-exact-active:not(:first-child){        
        font-weight: bolder;
    }    
    .right-side-nav{
        display: flex;
        align-items: center;
        gap:5px
    }
    .header-nav{
        font-family: title;
    }
    .user-login{
        display: flex;
        gap:5px
    }
}



.user-name-avatar::before{
    font-family: awesome;
    margin-right: 5px;
    content:'\f2bd'
}