.pet-app-container{
    display: flex;
    gap: 10px;
}
.pet-app-filter{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    gap: 10px;
}
.pet-app-list{
    flex-basis: 80%;
}