
.user-modal{
    height: 100vh;
    background-color:rgba(1, 24, 2, 0.7);
    position: fixed;

}
.user-main{
    text-align: center;
    width: 100%;
}
.user-form-container{
    background-color: $clr1;
    width: 50%;
    height: 50%;
    margin: 20% auto;
    // display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 8px;
    
}
.signup-form, .login-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    input{
        display: block;
        margin-bottom: 5px;
    }
    select{
        margin-bottom: 5px;
    }
}